/*font family Abel*/
@font-face{
    font-family:Abel;
    src: url("../fonts/Abel/Abel-Regular.ttf");
}
/*font family Notable   */
@font-face{
    font-family:Notable;
    src: url("../fonts/Notable/Notable-Regular.ttf");
}
/*font family Oswald   */
@font-face{
    font-family:Oswald;
    src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf");
}
/*font family Pangolin   */
@font-face{
    font-family:Pangolin;
    src: url("../fonts/Pangolin/Pangolin-Regular.ttf");
}